.Cards {
  display: flex;
  gap: 10px;
}
.parentContainer{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
    width: 90%;
  }
  .parentContainer{
    width: 100%;
    height: 12rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
